.allBodyContent {
	height: 80vh;
	padding: 1rem;
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: 1fr 6fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-areas:
	" hardwareProjects highlightArea writingPieces "
	" softwareProjects highlightArea gamingContent "
	" linuxContent highlightArea vlogsContent "
	" . . . "
}

.hardwareProjects { grid-area: hardwareProjects; }
.softwareProjects { grid-area: softwareProjects; }
.linuxContent { grid-area: linuxContent; }
.writingPieces { grid-area: writingPieces; }
.gamingContent { grid-area: gamingContent; }
.vlogsContent { grid-area: vlogsContent; }
.footer{ grid-area: footer; }

.highlightArea { 
	grid-area: highlightArea; 
	display: grid; 
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 9fr;
	grid-template-areas: 
	"techHlBtn hobbyHlBtn"
	"highlightReel highlightReel";
}


#techHL {
	display: none;
	background: var(--boxColor);
}


#hobbyHL {
	display: none;
	background: var(--boxColor);
}


#techHlBtn {
	grid-area: techHlBtn; 
	border-right: 1px solid var(--backgroundColor); border-bottom: 2px solid var(--backgroundColor);
	background: var(--outOfFocus);
}


#hobbyHlBtn {
	grid-area: hobbyHlBtn;
	border-left: 1px solid var(--backgroundColor); border-bottom: 2px solid var(--backgroundColor);
	background: var(--outOfFocus);
}


#highlightReel {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	grid-area: highlightReel;
}


.allBodyContent .boxCards {
	border: 1px solid var(--shadeColor);
}


.footer {
	text-align: center;
}


@media screen and (max-width: 1024px)  {

	body {
		margin-bottom: 10vh;
	}

	.allBodyContent {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-areas: 
			"hardwareProjects softwareProjects linuxContent"
			" highlightArea highlightArea highlightArea "
			"writingPieces gamingContent vlogsContent"
			" . . . ";
	}
}




