:root {
	--boxColor: gray;
	--textColor: lightgrey;
	--shadeColor: 0px 0px 2px 2px darkgrey;
}

@font-face {
    font-family: 'ibm_plex_monoitalic';
    src: url('ibmplexmono-italic-webfont.woff2') format('woff2'),
         url('ibmplexmono-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
	color: var(--textColor);
	font-color: var(--textColor);
	background-image: linear-gradient(to right, black, white);
	height: 100%;
	font-family: ibm_plex_monoitalic;
}

body {
	margin: 0;
}

body h1 {
	float: left
}

.headerBar {
	display: grid;
	background: var(--boxColor);
 	grid-template-columns: repeat(3, 1fr);
}

.headerBar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    font-size: 17px;
}


.allBodyContent {
	padding: 1rem;
	display: grid;
	grid-gap: 2.5rem;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows:  repeat(5, 1fr);
	grid-template-areas: 
	" hardwareProjects softwareProjects . . . "
	" programmingTutorials scmHeader scmHeader scmHeader . "
	" linuxContent scmHeader scmHeader scmHeader ."
	" designProjects scmHeader scmHeader scmHeader . "
	"  socialMediaBar socialMediaBar socialMediaBar socialMediaBar socialMediaBar " ;
}

.scmHeader{
	grid-area: scmHeader;
	font-size: 2rem;
	padding-left: 1rem;
}

.hardwareProjects {
	grid-area: hardwareProjects;
}

.softwareProjects {
	grid-area: softwareProjects;
}

.designProjects {
	grid-area: designProjects;
}

.linuxContent {
	grid-area: linuxContent;
}

.programmingTutorials {
	grid-area: programmingTutorials;
}

.boxCards {
	display: grid;
	text-align: center;
	align-items: center;
	background: var(--boxColor);
	box-shadow: var(--shadeColor);

}

.socialmediabar {
	grid-area: socialMediaBar;
}

.socialmediabar {
	text-align: center;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(6, 1fr);
	color: var(--textColor);
}


.socialmediabar a {
	text-decoration: none;
	color: var(--light);
}

.footer {
	text-align: center;
}