:root {
	--backgroundColor: #cec8de;
	--boxColor: #ccdaf1;
	--textColor: #92848b;
	--higglightColor: #b5def2;
	--shadeColor: 0px 0px 2px 2px #c1c6c4;
}

@font-face {
    font-family: 'ibm_plex_monoitalic';
    src: url('ibmplexmono-italic-webfont.woff2') format('woff2'),
         url('ibmplexmono-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
	color: var(--textColor);
	font-color: var(--textColor);
	background: var(--backgroundColor);
	height: 100%;
	font-family: ibm_plex_monoitalic;
}

.sidenav {
	padding: 5px;
	grid-area: sidenav;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(6, 1fr);
}

.allBodyContent {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 20fr;
	grid-template-rows:  1fr 9fr 1fr;
	grid-template-areas: 
	"sidenav scmHeader"
	"sidenav CenterSection"
	"sidenav socialmediabar" ;
}

.scmHeader{
	font-size: 2rem;
	padding-left: 1rem;
}

.boxCards {
	list-style: none;
	display: grid;
	align-items: center;
	background: var(--boxColor);
	box-shadow: var(--shadeColor);

}

.CenterSection {
	grid-are: CenterSection;
}

.socialmediabar {
	gird-area: socialmediabar;
}

.showcase {
	grid-area: showcase;
	min-height: 300px;
	background: url(media/images/songofrain.png);
	background-size: cover;
	background-position: center;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	
	justify-content: center;
	box-shadow: var(--shadow);
	position: relative;
}


.socialmediabar {
	text-align: center;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(6, 1fr);
	color: var(--textColor);
}


.socialmediabar a {
	text-decoration: none;
	color: var(--light);
}

.footer {
	text-align: center;
}