:root {
	--boxColor: #373f51;
	--textColor: #D8DBE2;
	--shadeColor: #87919E;
	--darkestColor: #202030;
}

html {
	color: var(--textColor);
	font-color: var(--textColor);
	background-color: var(--darkestColor);
}

body {
	margin: 0;
}

body h1 {
	padding-left: 1rem;
	white-space: nowrap;
}

a {
	text-decoration: none;
}

.headerBar {
	display: grid;
	border-bottom: 1px solid var(--shadeColor);
	background: var(--boxColor);
 	grid-template-columns: repeat(3, 1fr);
 	grid-template-areas:
 	"brandName . . " ;
}

.pageTitle {
	grid-area: pageTitle;
}

.brandName {
	display: grid;
	grid-template-columns: 1fr  7fr;
	grid-template-areas: "openbtn pageTitle";
	padding-left: 1rem;
	grid-area: brandName;
}


.allBodyContent {
	height: 100%;
	padding: 1rem;
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: 1fr 6fr 1fr;
	grid-template-rows:  1fr 1fr 1fr 1fr;
	grid-template-areas: 
	" hardwareProjects . writingPieces "
	" softwareProjects . gamingContent "
	" linuxContent . vlogsContent "
	" . footer . "
}



.hardwareProjects {
	grid-area: hardwareProjects;
}

.softwareProjects {
	grid-area: softwareProjects;
}

.linuxContent {
	grid-area: linuxContent;
}

.writingPieces {
	grid-area: writingPieces;
}

.gamingContent {
	grid-area: gamingContent;
}

.vlogsContent {
	grid-area: vlogsContent;
}

.footer{
	grid-area: footer;
}

.boxCards {
	display: grid;
	text-align: center;
	align-items: center;
	background: var(--boxColor);
	padding: .5rem;
}

#hoverCard:hover {
	background: var(--shadeColor);
	color: var(--darkestColor);
	border: 1px solid var(--darkestColor);
}

.allBodyContent .boxCards {

	border: 1px solid var(--shadeColor);
}

.smallboxCards {
	height: 75px;
	width: 75px;
	display: grid;
	text-align: center;
	align-items: center;
	background: var(--darkestColor);
	border-radius: 50%;
	border: var(--darkestColor);
}

.footer {
	text-align: center;
	padding-bottom: 5px;
}







.sidebar {
	display: grid;
	grid-template-rows: 1fr 1fr 10fr;
	grid-template-columns: 1fr 8fr 1fr;
	grid-template-areas: 
		" . closebtn . " 
		" . . . "
		" . socialMediaNav . ";
	text-align: center;
	display: grid;
	color: var(--textColor);
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--textColor);
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar a {
	align-content: center;
	color: var(--textColor);
}

.sidebar a:hover {
}

.closebtn {
	margin-top: 20px;
	grid-area: closebtn;
}

.fa-window-close {
	align-content: center;
	color: red;
}


.socialMediaNav {
	grid-area: socialMediaNav;
}

.boxCards #openBtn {
	border: none;
}

.openbtn:hover {
    background-color: var(--textColor);
    color: var(--darkestColor);
}

#main {
    transition: margin-left .5s;
}



/* Don't need button navigation */
@supports (scroll-snap-type) {
  .slider > a {
    display: none;
  }
}



@media screen and (max-width: 1024px)  {


	.allBodyContent {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 25px;
		grid-template-areas: 
			"hardwareProjects softwareProjects linuxContent"
			" . . . "
			"writingPieces gamingContent vlogsContent"
			" . footer . "
	}


	.sidebar {
		height: 100%;
		display: grid;
		grid-template-rows: 50px 50px 1fr;
		grid-template-columns: 1fr 8fr 1fr;
		grid-template-areas: 
			" . closebtn . " 
			" . . . "
			" . socialMediaNav . ";
		text-align: center;
		display: grid;
		color: var(--textColor);
	    height: 100%;
	    width: 0;
	    position: fixed;
	    z-index: 1;
	    top: 0;
	    left: 0;
	    background-color: var(--textColor);
	    overflow-x: hidden;
	    transition: 0.5s;
	}

	.socialMediaNav {
		text-align: center;
		align-content: center;
	}


	.smallboxCards {
		margin: 0 auto;
		height: 75px;
		width: 75px;
	}

}




